@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");

* {
  outline: 0;
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-bg: #a11636;
  --color-bg-variant: rgb(93, 96, 224);
  --color-primary: whitesmoke;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --container-width-lg: 70%;
  --container-width-sm: 90%;
  --container-width-md: 86%;

  --animate: all 350 ms ease;
}
body {
  font-family: "Raleway", sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  background-image: url(https://www.starnavi.io/media/blog/blue-tech-circuit-board-animated-background-video-graphic-design-hd-1920x1080_ewva7_dMceJJA.jpg);
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-weight: 500;
  font-size: 2.5 rem;
}

section {
  margin-top: 7 rem;
}

section > h2,
section > h3 {
  text-align: center;
  color: var(--color-light);
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--animate);
}

a:hover {
  color: #00c0f0;
}

.btn {
  width: max-content;
  color: var(--color-primary);
  border-radius: 0.5rem;
  padding: 0.7rem, 1.2rem;
  margin: 4px;
}

.btn:hover {
  color: #00c0f0;
  border-style: solid;
  border-color: transparent;
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

.onclickk {
  padding: 10px;
}

.Ahmed {
  max-width: 40%;
  max-height: 60%;
}
